*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    font-family: sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

/* 共通樣式*/
.header .container,
.footer .container,
.center .container,
.chef .container,
.reserve .container,
.food .container {
    max-width: 1024px;
    margin: 0 auto;
}

/* 共通header */
.header {
    background: #000;
}

.header .container {
    height: 420px;
    background-image: url(./img/header_desktop.png);
    background-position: center center;
    position: relative;
}

.topbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.topbar h1 a {
    width: 120px;
    height: 24px;
    background-image: url(./img/logo_w@svg.svg);
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    padding: 15px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom: 3px solid #fff;
}

.topbar label {
    color: #fff;
}

.topbar label,
.topbar input {
    display: none;
}

.banner,
.banner-m {
    width: 460px;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.banner h2,
.banner-m h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.banner-m {
    display: none;
}

@media (max-width:414px) {
    .header .container {
        background-image: url(./img/header_mobile.png);
    }

    .header .banner {
        display: none;
    }

    .header .banner-m {
        display: block;
        width: 90%;
    }

    .topbar .menu {
        max-height: 0;
        overflow: hidden;
        display: block;
        color: #fff;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 99;
        transition: 1s;
    }

    .topbar .burger {
        display: block;
        position: absolute;
        font-size: 26px;
        right: 20px;
        cursor: pointer;
        border: 2px solid transparent;
    }

    .topbar .burger:hover {
        border: 2px solid #fff;
        border-radius: 5px;
    }

    #burger:checked~.menu {
        max-height: 420px;
    }

    .menu li {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menu li a {
        font-size: 20px;
        text-align: center;
        border-bottom: 1px dotted #fff;
        margin: 0;
        padding: 30px;
    }

    .menu li a:hover {
        color: #de453b;
        border-bottom: 1px dotted #fff;
    }
}


/* 共通footer */
.footer,
.center,
.food {
    background-color: #efe9e7;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    color: #3e1203;
    padding: 20px 0;
}

.info {
    display: flex;
}

.info .about,
.info .contact {
    width: 40%;
    padding: 20px;
    line-height: 1.2;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.contact ul {
    list-style: disc;
    padding-left: 20px;
}

.contact ul a {
    color: #3d1101;
}

.contact ul a:hover {
    color: lightsalmon;
}

.footer .logo {
    margin-right: 20px;
}

.footer h2 a {
    width: 243px;
    height: 48px;
    background-image: url(./img/logo_l\(null\).svg);
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.icon i {
    font-size: 36px;
    margin-left: 15px;
}

.icon .goo {
    color: #de453b;
}

.icon .twi {
    color: #3fa9de;
}

.icon .fb {
    color: #3d5493;
}

.icon .goo:hover,
.icon .twi:hover,
.icon .fb:hover {
    color: #3d1101;
    opacity: 0.6;
}

@media (max-width:768px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .about,
    .footer .contact {
        width: 40%;
    }

    .footer .logo h2 {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width:414px) {

    .footer .about,
    .footer .contact {
        width: 100%;
    }

    .footer .info h2 {
        font-size: 24px;
    }

    .footer .info {
        flex-direction: column;
        margin-bottom: 10%;
    }
}

/* 登入頁面 */
.center .container {
    padding: 3% 0;
}

.center .login-info {
    width: 300px;
    margin: 20px auto 0;
}

.center h2,
.center span,
.login-info h3,
.sign-up h3 {
    display: block;
    color: #3d1101;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.center h2 {
    font-size: 48px;
    margin-bottom: 5px;
}

.login-info,
.sign-up {
    color: #3d1101;
    border-top: 4px solid #F56C23;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 10px 15px;
}

.login-info h3 {
    margin: 10px 0 15px 0;
}

form label {
    display: block;
    position: relative;
}

.log .envelope,
.reg .envelope {
    margin-bottom: 7%;
}

.log input,
.reg input {
    text-indent: 10%;
}

form input {
    width: 100%;
    display: block;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2px;
}

form input:focus {
    outline: 1px solid palegreen;
}

.log label i,
.reg label i {
    position: absolute;
    top: 53%;
    left: 3%;
    color: rgba(61, 17, 0, 0.5);
}

form a {
    font-size: 14px;
    color: #FF5E45;
    margin-top: 1%;
}

form .btn {
    margin: 20% 0 5% 0;
    display: flex;
    justify-content: space-around;
}

.btn a {
    color: #fff;
    padding: 8px 45px;
    border-radius: 3px;
}

.btn .grey,
.button .grey {
    background-color: grey;
}

.btn .orange,
.input-text .orange {
    background-color: #F56C23;
}

.btn a:hover,
.button a:hover {
    background-color: #3d1101;
}

@media (max-width:414px) {
    .container h2 {
        font-size: 40px;
    }

    .center .login-info {
        width: 80%;
    }
}

/* 註冊頁面 */
.center .sign-up {
    width: 620px;
    margin: 20px auto 0;
}

.sign-up h3 {
    margin: 10px 0 20px 0;
}

.sign-up .sign-up-card {
    display: flex;
    justify-content: space-around;
}

.sign-up .terms {
    width: 280px;
    line-height: 1.2;
}

.sign-up .register {
    width: 280px;
}

.register .password {
    margin-bottom: 10px;
}

.register .lock {
    position: absolute;
    top: 20%;
}

.register .btn {
    justify-content: flex-end;
}

@media (max-width:768px) {
    .center .sign-up {
        width: 90%;
    }
}

@media (max-width:414px) {
    .center .sign-up {
        width: 85%;
    }

    .sign-up-card {
        flex-direction: column;
    }

    .sign-up-card .terms,
    .sign-up-card .register {
        width: 100%;
    }

    .sign-up-card .terms {
        border-bottom: 1px solid rgb(185, 184, 184);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

/* 首頁內容區-標題 */
.center .title h2 {
    font-size: 20px;
    font-weight: unset;
    line-height: 1.5;
    width: 225px;
    margin: 0 auto;
    background-color: #efe9e7;
    /* 需在想要置頂的層開啟定位後，z-index才會起作用 */
    position: relative;
    z-index: 9;
}

.center .title {
    position: relative;
    margin-bottom: 30px;
}

.center .line {
    position: absolute;
    width: 461px;
    height: 1px;
    background: #979797;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:768px) {
    .center .title {
        padding-top: 5%;
    }
}

@media (max-width:414px) {
    .center .line {
        display: none;
    }
}

/* 首頁內容區-特色介紹 */
.introduce ul {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.introduce ul li {
    width: 30%;
    padding: 30px 0;
}

.introduce img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.introduce h2 {
    font-size: 18px;
    text-align: center;
    font-weight: initial;
    margin: 20px 0;
}

.introduce p {
    color: #3d1101;
    line-height: 1.2;
}

@media (max-width:768px) {
    .introduce ul {
        padding: 0 3%;
    }
}

@media (max-width:414px) {
    .introduce ul {
        flex-direction: column;
    }

    .introduce ul li {
        width: 90%;
        margin: 0 auto;
    }
}

/* 首頁內容區-主廚 */
.chef {
    background-color: #3d1101;
    color: #fff;
}

.chef .chef-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chef-card img {
    height: 460px;
}

.chef-card .chef-info {
    padding: 0 30px;
}

.chef-info h3,
.food-bar h2 {
    font-size: 20px;
    line-height: 32px;
}

.chef-info p {
    line-height: 1.5;
    margin-top: 20px;
}

@media (max-width:768px) {
    .chef-card img {
        width: 45%;
    }

    .chef-card .chef-info {
        padding: 0 5%;
    }
}

@media (max-width:414px) {
    .chef .chef-card {
        flex-direction: column;
    }

    .chef-card img {
        width: 100%;
    }

    .chef-card .chef-info {
        width: 100%;
        padding: 5%;
    }
}

/* 首頁內容區-好評 */
.people h3,
.reserve h3 {
    font-size: 24px;
    color: #3d1101;
    text-align: center;
    margin-bottom: 40px;
}

.people .thaught {
    display: flex;
    justify-content: space-around;
}

.people .thaught li {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

.thaught img {
    display: block;
    width: 67px;
    height: 67px;
    border-radius: 50%;
}

.thaught .text {
    width: 70%;
    color: #3d1101;
}

.text h4 {
    font-size: 18px;
    padding-top: 6%;
}

.text p {
    line-height: 1.5;
    margin: 20px 0;
}

.text .title {
    display: flex;
    justify-content: end;
}

@media (max-width:768px) {
    .center .people {
        padding: 5% 2%;
    }

    .people .thaught li {
        padding: 0 1%;
    }

    .thaught .text {
        margin-left: 5%;
    }
}

@media (max-width:414px) {
    .center .people {
        padding-top: 10%;
    }

    .people .thaught {
        flex-direction: column;
    }

    .people .thaught li {
        width: 100%;
    }

    .thaught .text {
        width: 65%;
        margin-left: 0;
    }
}

/* 首頁內容區-預約訂位 */
.reserve {
    background-color: #fafafa;
}

.reserve .container {
    padding: 50px 10px;
    color: #3d1101;
    font-size: 14px;
}

.reserve h3 {
    line-height: 1.5;
}

.reserve .guest-info {
    display: flex;
    justify-content: space-evenly;
}

.guest-info .input-text {
    width: 45%;
    padding-left: 20px;
}

.input-text label {
    margin-bottom: 20px;
}

form .option {
    display: initial;
}

.option .radio {
    display: inline;
    width: initial;
    height: initial;
    border: none;
    margin-top: 0;
    border-radius: 0;
}

.option .radio:focus {
    outline: none;
}

.input-text .yes {
    margin-right: 20px;
}

.input-text .button {
    display: flex;
    justify-content: end;
    margin-top: 12%;
}

.button a {
    color: #fff;
    border-radius: 3px;
    padding: 9px 21px;
}

.button .grey {
    margin-right: 20px;
}

@media (max-width:768px) {
    .reserve .guest-info {
        justify-content: space-around;
        padding: 0 2%;
    }

    .map img {
        height: 386px;
    }
}

@media (max-width:414px) {
    .reserve .guest-info {
        flex-direction: column;
    }

    .guest-info .input-text {
        width: 100%;
        padding-left: 0;
        margin-top: 9%;
    }
}

/* 訂餐頁 */
.food .container {
    color: #3d1101;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

/* 內容區-左側導航條 */
.food-bar {
    width: 21%;
    color: #3d1101;
}

.food-bar h2 {
    margin-bottom: 30px;
}

.list li {
    line-height: 2;
    border-bottom: 1px solid #3d1101;
}

.list li a {
    color: #3d1101;
    padding-left: 10px;
}

.list li a:hover {
    color: #fff;
    background-color: #3d1101;
}

@media (max-width:768px) {
    .food-bar {
        width: 26%;
    }
}

@media (max-width:414px) {
    .food .container {
        flex-direction: column;
    }

    .food-bar {
        width: 100%;
        padding: 0 5%;
    }
}

/* 內容區-右側商品列表 */
.food .food-menu {
    width: 70%;
}

/* 搜索框 */
.food-menu .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search .search-zone {
    width: 55%;
    display: flex;
}

.search-zone input {
    width: 100%;
    padding: 7px;
    border-radius: 0;
    border: 2px solid #3d1101;
}

.search-zone input:focus {
    outline: 0;
}

.search-zone a {
    color: #fff;
    background-color: #3d1101;
    padding: 7px;
    margin-left: -1px;
}

.search .shopping {
    display: flex;
    align-items: center;
    color: #3d1101;
    position: relative;
}

.shopping p {
    border-right: 1px solid #3d1101;
    padding-right: 10px;
}

.shopping .cart {
    font-size: 30px;
    padding-left: 10px;
}

.shopping .cart:hover {
    opacity: 0.6;
}

.shopping .one {
    padding: 2px 5px;
    border-radius: 50%;
    color: #fff;
    background-color: #F56C23;
    position: absolute;
    right: -7px;
    top: -9px;
}

@media (max-width:414px) {
    .food .food-menu {
        width: 100%;
        padding: 0 5%;
    }

    .food-menu .search {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 8%;
    }

    .search .search-zone {
        width: 100%;
        margin-bottom: 4%;
    }
}

/* 圖文並茂區 */
.food-card .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card li {
    width: 32%;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    margin-bottom: 30px;
}

.card img {
    height: 120px;
    margin-bottom: 15px;
}

.card .bulletin {
    position: absolute;
    width: 73px;
    height: 73px;
    top: -10px;
    right: -10px;
    overflow: hidden;
}

.card span {
    width: 158px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #00cc99;
    position: absolute;
    top: 20px;
    right: -50px;
    transform: rotate(45deg);
    padding: 3px;
    z-index: 2;
}


.card .bulletin::before {
    content: "";
    display: block;
    position: absolute;
    right: 63px;
    top: 0;
    border: 5px solid #008866;
}

.card .bulletin::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 63px;
    border: 5px solid #008866;
}

.card .heart {
    font-size: 22px;
    color: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
}

.card .heart:hover {
    font-weight: bold;
    color: red;
}

.card h3,
.card h4,
.card p,
.card .btn {
    text-align: center;
}

.card h3,
.card p {
    font-size: 20px;
}

.card h4 {
    font-size: 12px;
    margin: 10px 0;
}

.card .line {
    width: 90px;
    height: 1px;
    background: #3d1101;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card p {
    font-weight: bold;
    margin: 30px 0;
}

.card .btn {
    width: 85%;
    color: #FF5E45;
    border: 2px solid #FF5E45;
    border-radius: 2px;
    padding: 3px 0;
    margin: 0 auto 10px;
}

.card .btn:hover {
    background-color: #FF5E45;
    color: #fff;
}

@media (max-width:768px) {
    .food-card .card {
        justify-content: space-evenly;
    }

    .card li {
        width: 46%;
    }
}

@media (max-width:414px) {
    .card li {
        width: 95%;
        margin-bottom: 50px;
    }

    .card img {
        width: 100%;
    }
}